services:
  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  worker:
    image: lananh03/worker:latest
    environment:
      - DB_HOST={{ my_db_host }}
      - REDIS_HOST={{ my_redis_host }}
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_DATABASE=postgres
        